[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/zsh/themes/powerlevel10k"]
	path = .config/zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/noornee/nvim.git
