[Unit]
Description=Lock the screen on resume from suspend
Before=sleep.target suspend.target

[Service]
User=noornee
Type=simple
Environment=DISPLAY=:0
ExecStart=/home/noornee/.local/bin/locker

[Install]
WantedBy=sleep.target suspend.target
