ACTION=="change", SUBSYSTEM=="drm", DEVPATH=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/drm/card1", RUN+="/bin/su noornee -c /home/noornee/.config/CUSTOM/scripts/monitor.sh"

ACTION=="remove", SUBSYSTEM=="drm", DEVPATH=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/drm/card1", RUN+="/bin/su noornee -c /home/noornee/.config/CUSTOM/scripts/monitor.sh"
